{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Standings of Superliga Overview</h1>

        </form>
        <form action="{{ url_for("standings_football_result") }}" method="post">
            <div class="form-group">
                <label for="season_phase">Choose Season:</label>
                <select class="form-control" id="season" name="season">
                    <option value="last">2021/2022</option>
                    <option value="current">2022/2023</option>
                </select>
                <label for="season_phase">Season Phase:</label>
                <select class="form-control" id="season_phase" name="season_phase">
                    <option value="tables_regular">Regular Season</option>

                    if (id==='current')
                    { b=true;}
                    <option disabled=b value="tables_champ">Championship Round</option>
                    <option disabled=b value="tables_releg">Relegation Round</option>


                </select>

            </div>
            <input type="submit" value="Submit">
        </form>


    </div>
{% endblock %}
