{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Roulette</h1>
        <p>
            You play a Roulette game with the highest field value of 36. <br/>
            You bet all your money on one color (red or black). <br/>
            The Roulette contains only one zero '0' no double zero '00'.
        </p>
        <form action="{{ url_for("calculate_roulette") }}" method="post">
            <label for="budget">Budget:</label><br>
            <input type="number" id="budget" name="budget" value="Budget"><br>
            <label for="bet">Bet:</label><br>
            <input type="number" id="bet" name="bet" value="Bet"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}