<!-- https://getbootstrap.com/docs/4.0/components/navbar/#nav -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/roulette">Roulette</a>
                <a class="nav-item nav-link" href="/birthday">Birthday</a>
                <a class="nav-item nav-link" href="/football">Football</a>
                <a class="nav-item nav-link" href="/football/standings">Football-Standings</a>
            </div>
        </div>
    </nav>
</header>